<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">


    <tlib-version>1.0</tlib-version>
    <short-name>miscTags</short-name>
    <uri>http://javajoy.net/jss/miscTags</uri>


    <tag>
        <name>simpleTag</name>
        <tag-class>net.javajoy.jss.homework.w07_test.tag.SimpleTag</tag-class>
        <body-content>scriptless</body-content>
    </tag>


    <tag>
        <name>prostoTag</name>
        <tag-class>net.javajoy.jss.homework.w07_test.tag.ProstoTag</tag-class>
        <body-content>scriptless</body-content>

    </tag>


    <tag>
        <name>photoCardTag</name>
        <tag-class>net.javajoy.jss.homework.w07.tag.PhotoCardTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>photo</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>


    </tag>

    <tag>
        <name>iterationTag</name>
        <tag-class>net.javajoy.jss.homework.w07_test.tag.IterationTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>begin</name>
        </attribute>
        <attribute>
            <name>end</name>
            <required>true</required>
            <!-- ELexpression is allowed -->
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>var</name>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>photoTag</name>
        <tag-class>net.javajoy.jss.homework.w07_test.tag.PhotoTag</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>width</name>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>heigtht</name>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>id</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>


    <!-- Invoke 'Generate' action to add tags or functions -->

</taglib>
